# DB
POSTGRES_DB=
POSTGRES_DB_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=

# Django
SECRET_KEY=Dyu1BcZOHABDSVxEU7jKyq9FSxylx4VM
DJANGO_SETTINGS_MODULE=Locato.settings.dev

# DropBox
DROPBOX_APP_KEY=
DROPBOX_APP_SECRET=
DROPBOX_OAUTH2_REFRESH_TOKEN=

#Stripe
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=

#Email
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
