# DB
POSTGRES_DB=
POSTGRES_DB_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=

# Django
SECRET_KEY=Dyu1BcZOHABDSVxEU7jKyq9FSxylx4VM
DJANGO_SETTINGS_MODULE=Locato.settings.dev
RENDER_EXTERNAL_HOSTNAME=

# DropBox
DROPBOX_REFRESH_TOKEN=
DROPBOX_APP_KEY=
DROPBOX_APP_SECRET=
DROPBOX_ROOT_PATH=
